{% extends 'scenario_base.html' %}

{% macro render_field(field) %}
  <dt>{{ field.label }}</dt>
  <dd>
  {% if field.errors %}
    {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor %}
  {% endif %}
  {{ field(**kwargs)|safe }}
  </dd>
{% endmacro %}

{% block breadcrumb %}{{ super() }} : Login {% endblock %}

{% block ltitle %}Instructions{% endblock %}

{% block left %}
<p>
Make generation tasks here.
</p>
{% endblock %}

{% block rtitle %}Login{% endblock %}

{% block right %}
<p>No account? <a href="{{  url_for('register') }}">Register here.</a></p>
<form method="post" action="">
  {{ form.csrf }}
  <dl>
  {{ render_field(form.username) }}
  {{ render_field(form.password) }}
  </dl>
  <input type="submit" value="Submit">
</form>
{% endblock %}