{% extends 'base.html' %}

{% block breadcrumb %}{{ super() }} : Scenario Creation{% endblock %}

{% macro render_field(field) %}
  <dt>{{ field.label }}</dt>
  <dd>
  {% if field.errors %}
    {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor %}
  {% endif %}
  {{ field(**kwargs)|safe }}
  </dd>
{% endmacro %}

{% block body %}
<div class="span-8 colborder">
<h2 class="caps">Instructions</h2> <hr />
<p>
This form is for the creation of "scenarios," which are named collections of
exploit patterns and initial network states. After creating a scenario, you
will be able to build one or more attack state graphs or attack dependency
graphs.
</p>
<p>
Exploit patterns and network models are specified using a formal language
described in more detail on the 
<a href="http://129.244.245.201/trac/attack_graphs/wiki/AttackGraphModelingLanguage">attack graphs wiki</a>.
</p>
<p>
Scenario names must be unique (and they are case sensitive), and the parser will
check for compile-time errors
in the network model and exploit pattern definitions when this form is submitted.
</p>
</div>

<div class="span-15 last">
<h2 class="caps">Scenario Description Entry</h2> <hr />
<form method="post" action="">
  {{ form.csrf }}
  <dl>
  {{ render_field(form.name) }}
  {{ render_field(form.nm) }}
  {{ render_field(form.xp) }}
  </dl>
  <input type="submit" value="Submit">
</form>
</div>
{% endblock %}