{% extends 'scenario_base.html' %}

{% block breadcrumb %}{{ super() }}{% endblock %}
{% block ltitle %}Instructions {% endblock %}

{% block left %}
<p class="">
This page shows a detailed view of an attack graph scenario. To the right is
a table of every generation task (ADG and each depth of ASG). Below is the
network model and exploit pattern definition provided for this scenario.
Finally, at the bottom of the page is a graphical representation of the
initial state of the network.
</p>
{% endblock %}

{% block rtitle %}Generation Tasks{% endblock %}

{% block right %}
<div id="add" class="append-bottom">
  <a href="{{ url_for('web_create_generation_task', name=name) }}">
  Add new generation task</a>
</div>
<table>
<tr><th>Type</th><th>Depth</th><th>Actions</th>
<th>View / Download</th><th>Status</th></tr>
    {% if ag.2 == 1 %}
        <tr>
          <td>Dependency Graph</td>
          <td>-</td>
          <td>
          <a href="{{ url_for('web_task_restart', name=name, task="adg") }}"><img alt="Regenerate" class="button" src="{{ url_for('static', filename='image/restart_256.png') }}" /></a>
          <a href="{{ url_for('web_task_delete', name=name, task="adg") }}"><img alt="Delete" class="button" src="{{ url_for('static', filename='image/x_red.png') }}" /></a></td>
          <td>-</td>
          <td>In Progress</td>
        </tr>
    {% elif ag.2 == 2 %}
        <tr>
          <td>Dependency Graph</td>
          <td>-</td>
          <td>
          <a href="{{ url_for('web_task_restart', name=name, task="adg") }}"><img alt="Regenerate" class="button" src="{{ url_for('static', filename='image/restart_256.png') }}" /></a>
          <a href="{{ url_for('web_task_delete', name=name, task="adg") }}"><img alt="Delete" class="button" src="{{ url_for('static', filename='image/x_red.png') }}" /></a></td>
          <td>
          <a href="{{ url_for('web_task_download', name=name, graph_type='adg', fn=name+'_adg', ext='pdf') }}">PDF</a> | 
          <a href="{{ url_for('web_task_download', name=name, graph_type='adg', fn=name+'_adg', ext='png') }}">PNG</a> |
          <a href="{{ url_for('web_task_download', name=name, graph_type='adg', fn=name+'_adg', ext='dot') }}">DOT</a> |
          <a href="{{ url_for('web_task_download', name=name, graph_type='adg', fn=name+'_adg', ext='xml') }}">GraphML</a></td>
          <td>Completed</td>
        </tr>
    {% endif %}
    {% if ag.0 %}
      {% for depth in ag.0 %}
        <tr>
          <td>State Graph</td>
          <td>{{ depth }}</td>
          <td>
          <a href="{{ url_for('web_task_restart', name=name, task=depth) }}"><img alt="Regenerate" class="button" src="{{ url_for('static', filename='image/restart_256.png') }}" /></a>
          <a href="{{ url_for('web_task_delete', name=name, task=depth) }}"><img alt="Delete" class="button" src="{{ url_for('static', filename='image/x_red.png') }}" /></a></td>
          <td>
          <a href="{{ url_for('web_task_download', name=name, graph_type='ag', fn=name+'_ag_'+depth, ext='pdf') }}">PDF</a> | 
          <a href="{{ url_for('web_task_download', name=name, graph_type='ag', fn=name+'_ag_'+depth, ext='png') }}">PNG</a> |
          <a href="{{ url_for('web_task_download', name=name, graph_type='ag', fn=name+'_ag_'+depth, ext='dot') }}">DOT</a> |
          <a href="{{ url_for('web_task_download', name=name, graph_type='ag', fn=name+'_ag_'+depth, ext='xml') }}">GraphML</a></td>
          <td>Completed</td>
        </tr>
      {% endfor %}
    {% endif %}
    {% if ag.1 %}
      {% for depth in ag.1 %}
        <tr>
          <td>State Graph</td>
          <td>{{ depth }}</td>
          <td>
          <a href="{{ url_for('web_task_restart', name=name, task=depth) }}"><img alt="Regenerate" class="button" src="{{ url_for('static', filename='image/restart_256.png') }}" /></a>
          <img alt="Delete" class="button" src="{{ url_for('static', filename='image/x_red.png') }}" />
          </td>
          <td>-</td>
          <td>In Progress</td>
        </tr>
      {% endfor %}
    {% endif %}
</table>
{% endblock %}
{% block underbody %}
<hr />
<h2>Scenario Details</h2>
<hr />
<div class="span-11 first colborder">
<h2 class="caps">Network Model</h2>
<pre>
{{ nm }}
</pre>
</div>
<div class="span-12 last">
<h2 class="caps">Exploit Patterns</h2>
<pre>
{{ xp }}
</pre>
</div>
<hr />
<div class="span-24 first last">
<h2 class="caps">Initial State Graph</h2>
<img class="bigimage" src="{{ url_for('web_scenario_initialstate', name=name) }}" />
</div>
{% endblock %}