{% extends 'scenario_base.html' %}

{% macro render_field(field) %}
  <dt>{{ field.label }}</dt>
  <dd>
  {% if field.errors %}
    {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor %}
  {% endif %}
  {{ field(**kwargs)|safe }}
  </dd>
{% endmacro %}

{% block breadcrumb %}{{ super() }} : Generation Task Creation{% endblock %}

{% block ltitle %}Instructions{% endblock %}

{% block left %}
<p>
This form allows you to specify a generation task to begin. You may choose to
create either an exploit dependency graph (attack dependency graph -- note that
hybrid generation for these graph types is not currently supported), in which
case no depth is needed; or a stateful attack graph, in which case you must
specify a maximum depth for the generator to reach.
</p>
{% endblock %}

{% block rtitle %}Generation Task Specification{% endblock %}

{% block right %}
<form method="post" action="">
  {{ form.csrf }}
  <dl>
  {{ render_field(form.graph_type) }}
  {{ render_field(form.depth) }}
  </dl>
  <input type="submit" value="Submit">
</form>
{% endblock %}