{% extends 'confirm_base.html' %}

{% block breadcrumb %}{{ super() }} : Regenerate Task{% endblock %}

{% block left %}
<p>
Regenerate this task? Please note that there's not really any good reason to
do this unless you suspect there was an error during the previous generation
process.
</p>
{% endblock %}

{% block rtitle %}Generation Task Restart{% endblock %}

{% block right %}
  <p>
    Please confirm that you wish to delete and regenerate the {{ task }}
    for scenario "{{ name }}"
  </p>
  {{ super() }}
{% endblock %}

{% block button %}Regenerate {{ name }} {{ task }}{% endblock %}">